export BOSH_CLIENT=ops_manager
export BOSH_CLIENT_SECRET=XN1kDarrLHoU1Guu1EleUi-z4drz3YNf
export BOSH_CA_CERT=${HOME}/workspace/mapfre-secrets/aws/prd/root_ca_certificate
export BOSH_ENVIRONMENT=192.168.6.11
export BOSH_ALL_PROXY=ssh+socks5://ubuntu@opsman.prd.us-east-1.aws.pcf.mapfreusa.com:22?private-key=${HOME}/workspace/mapfre-secrets/aws/id_pcf_aws_rsa_pem
export BOSH_DEPLOYMENT=cf-3ad2fbe1efc6daef2ddc

source_up
